{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Careers{% endblock %}

{% block secondary_content %}
<div class="container features">
  <div class="section-head text-center">
    <h3><span class="frist"></span>Nectar Beauty Academy<span class="second"></span></h3>
  </div>

  <div class="row">
    <div class="col-md-12" style="height: 300px; background: #ff0; margin-bottom: 40px;">dfhdf</div>
  </div>

  <div class="row">
    <div class="static">
      <p>Education &amp; Training is a very core part of our company vision. This is why Nectar Beauty Academy was established as part of our goal to actively empower the untrained and self-taught individuals, especially women in Africa.</p>
      <p>The Academy was opened to ensure that the products we offer are backed with intensive training and product knowledge transfered by service providers on the use of their products.</p>
      <p>We had our first ever training took place during and after the 3 day Africa&apos;s Nail Art Competition last year, during the Beauty Africa Exhibition that took place in Eko Hotel in October 2015. The event was a part of our Corporate Social Responsibility Initiative and was co-sponsored by Oando Foundation, Multi Choice, Naija FM, Bella Naija, Genevieve Magazine, Beauty Rev., Emmaus Cosmetics, Kuddy Cosmetics, Lechat , Orly LA, Gel II and LaPalm. An international Nail Art Champion and Regional representative from LeChat Nails USA were present in Nigeria as the judge and trainer. Winners emerged on each day of the event and went home with certificates, trophies, goodie bags and monetary gifts donated by various companies who supported the event.</p>
      <p>Based on the success of the first event, we will be having the 2nd one this October 6th-8th at The LandMark Centre, Victoria Island, Annex, Lagos. This year&apos;s competition will be solely branded by Orly. More information on how to partake in the competition can be found on the flier. Trainings and workshop sessions would also take place during this period.</p>
    </div>
  </div>
</div>
{% endblock %}
