<!DOCTYPE HTML>
<html>
  <head>
    <title>Nectar Beauty Hub &mdash; {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load cart_tags %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'images/fav.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/fav.ico' %}" type="image/x-icon">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>

    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>

    <!----start-top-nav-script---->
    <script>
      $(function() {
        var pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();

        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });

        $(window).resize(function() {
          var w = $(window).width();
          if(w > 320 && menu.is(':hidden')) {
            menu.removeAttr('style');
          }
        });
      });
    </script>
    <!----//End-top-nav-script---->
  </head>

  <body>
    <div class="header-section">
      <div class="container">
        <div class="header">
          <div class="logo col-md-2">
            <a href="{% url 'index' %}">
              <img src="{% static 'images/logo.png' %}" title="logo">
              <p><i>Wholesale Beauty Outlet</i></p>
            </a>
          </div>
          <ul class="col-md-8">
            <li class="col-sm-2"><a href="{% url 'index' %}">Home</a></li>
            <li class="col-sm-2">
              <a href="#" class="dropdown-toggle" id="aboutdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                About Us 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="aboutdropdown">
                <li><a href="{% url 'our-team' %}">Our Team</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'careers' %}">Careers</a></li>
              </ul>
            </li>
            <li class="col-sm-2"><a href="{% url 'brands' %}">Brands</a></li>
            <li class="col-sm-2"><a href="{% url 'product-lines' %}">Product Lines</a></li>
            <li class="col-sm-2"><a href="{% url 'how-to-order' %}">How To Order</a></li>
            <li class="col-sm-2"><a href="{% url 'contact-us' %}">Contact Us</a></li>
          </ul>
          <div class="cart col-md-2">
            <a class="btn btn-primary btn-lg" href="{% url 'cart:index' %}" role="button">
              <i class="fa fa-shopping-cart">
                {% get_cart_count as count %}
                <span> {{ count }}</span>
              </i>
              <span>Checkout</span>
            </a>
          </div>
        </div>
      </div>

      {% block primary_content %}{% endblock %}

      <div class="clearfix"> </div>
    </div>

    {% block secondary_content %}{% endblock %}

    <div class="footer">
      <div class="container">
        <div class="footer-grids">
          <div class="col-md-3 footer-grid explore">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="{% url 'services' %}">Salon Furniture &amp; 3D Design</a></li>
              <li><a href="{% url 'careers' %}">Careers</a></li>
              <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
            </ul>
          </div> 

          <div class="col-md-6 footer-grid explore">
          </div>

          <div class="col-md-3 footer-grid">
            <h3>Connect With Us</h3>
            <div class="social">
              <a target="_blank" href="http://facebook.com/NectarBeautyHub">
                <i class="fa fa-facebook-square fa-3x"></i>
              </a>
              <a target="_blank" href="http://twitter.com/NectarHub">
                <i class="fa fa-twitter-square fa-3x"></i>
              </a>
              <a target="_blank" href="http://instagram.com/nectarbeautyhub">
                <i class="fa fa-instagram fa-3x"></i>
              </a>
            </div>
          </div>

          <div class="clearfix"></div>

          <script type="text/javascript">
                  $(document).ready(function() {
                          /*
                          var defaults = {
                                  containerID: 'toTop', // fading element id
                                  containerHoverID: 'toTopHover', // fading element hover id
                                  scrollSpeed: 1200,
                                  easingType: 'linear' 
                          };
                          */
                          
                          $().UItoTop({ easingType: 'easeOutQuart' });
                          
                  });
          </script>
          <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>

