<!DOCTYPE HTML>
<html>
  <head>
    <title>Nectar Beauty Hub &mdash; {% block title %}Home{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>

    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>

    <!----start-top-nav-script---->
    <script>
      $(function() {
        var pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();

        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });

        $(window).resize(function() {
          var w = $(window).width();
          if(w > 320 && menu.is(':hidden')) {
            menu.removeAttr('style');
          }
        });
      });
    </script>
    <!----//End-top-nav-script---->
  </head>

  <body>
    <div class="header-section">
      <div class="container">
        <div class="header">
          <div class="logo col-md-2">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" title="logo" /></a>
          </div> <!-- logo -->
          <ul class="col-md-8">
            <li class="col-sm-2"><a class="main" href="{% url 'index' %}">Home</a></li>
            <li class="col-sm-2"><a class="main" href="#">About Us</a></li>
            <li class="col-sm-2">
              <a class="main dropdown-toggle" href="#" id="brands" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Brands 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="brands">
                {% for brand in brands %}
                  <li><a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="col-sm-2">
              <a class="main dropdown-toggle" href="#" id="product-lines" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Product Lines
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="product-lines">
                {% for subcat in subcategories %}
                  <li><a href="{{ subcat.get_absolute_url }}">{{ subcat.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="col-sm-2"><a class="main" href="#">Contact Us</a></li>
            <li class="col-sm-2"><a class="main" href="#">Careers</a></li>
          </ul> <!-- nav -->
          <div class="cart col-md-2"></div> <!-- cart -->
          <div class="clearfix"></div>
        </div>
      </div>

      {% block primary_content %}{% endblock %}

      <div class="clearfix"> </div>
    </div>

    {% block secondary_content %}{% endblock %}

    <div class="footer">
      <div class="container">
        <div class="footer-grids">
          <div class="col-md-3 footer-grid about-info">
            <p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="col-md-3 footer-grid subscribe">
            <h3>Subscribe</h3>
            <form>
              <input type="text" placeholder="" required />
              <input type="submit" value="" />
            </form>
            <p>eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>

          <div class="col-md-3 footer-grid explore">
            <h3>Explore</h3>
            <ul class="col-md-6">
              <li><a href="#">Envato</a></li>
              <li><a href="#">Themecurve</a></li>
              <li><a href="#">Kreativeshowcase</a></li>
              <li><a href="#">Freebiescurve</a></li>
            </ul>
            <ul class="col-md-6">
              <li><a href="#">Themeforest</a></li>
              <li><a href="#">Microsoft</a></li>
              <li><a href="#">Google</a></li>
              <li><a href="#">Yahoo</a></li>
            </ul>
            <div class="clearfix"> </div>
          </div>

          <div class="col-md-3 footer-grid copy-right">
            <p>Eusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua. </p>
            <p class="copy">Template by <a href="http://w3layouts.com/">w3layouts</a></p>
          </div>
          <div class="clearfix"> </div>

          <script type="text/javascript">
                  $(document).ready(function() {
                          /*
                          var defaults = {
                                  containerID: 'toTop', // fading element id
                                  containerHoverID: 'toTopHover', // fading element hover id
                                  scrollSpeed: 1200,
                                  easingType: 'linear' 
                          };
                          */
                          
                          $().UItoTop({ easingType: 'easeOutQuart' });
                          
                  });
          </script>
          <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>

