{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Services{% endblock %}

{% block secondary_content %}
<div class="container features">
  <div class="section-head text-center">
    <h3><span class="frist"></span>How To Order<span class="second"></span></h3>
  </div>
  <div class="static">
    <h4>Opening An Account</h4>
    <p>
      We would need the following information in order to set up your business account:
    </p>
    <ul>
      <li>Certificate of Incorporation</li>
      <li>Proof of Registered Business Operations</li>
      <li>Tax Clearance</li>
      <li>Company Name and Telephone Number</li>
      <li>Government Issued ID ( International Passport or Driving Licence Preferred)</li>
    </ul>
    <h4>Shipping Policy</h4>
    <p>
      Thank you for your business and your continued support.
    </p>
    <p>
      Orders placed before 11:00am will  in most cases shipped out same day depending on the state. - All delivery is a client's cost and liability. Clients are encouraged to pick up from the Nectar Beauty Hub Office location on appointments only.
    </p>
    <h4>Minimum Freight Order</h4>
    <p>
      Please contact us for more information about  minimum orders for delivery. Any order less than that should be picked up. To waive freight charges, a minimum freight amount must be placed. Minimum weight and cost conditions are applicable.
    </p>
    <p>
      We accept VISA and MasterCard.
    </p>
  </div>
</div>
{% endblock %}
