{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}News{% endblock %}

{% block secondary_content %}
<div class="container features">
  <div class="section-head text-center">
    <h3><span class="frist"></span>News<span class="second"></span></h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/nectar_beauty_hub.jpg' %}" style="width: 100%">
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/nectar_beauty_hub.jpg' %}" style="width: 100%">
    </div>
  </div>
</div>
{% endblock %}
