{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Our Team{% endblock %}

{% block secondary_content %}
<div class="container features">
  <div class="section-head text-center">
    <h3><span class="frist"></span>Our Team<span class="second"></span></h3>
  </div>

  <div class="row static">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h4>Chief Executive Officer / Managing Director &ndash; Beatrice Eneh</h4>
      <p>
        Beatrice N. Eneh holds a BSc from University of Uyo (Nigeria), an MBA from Lancaster University Management School (UK) and MEng from the Massachusetts Institute of Technology (USA).
      </p>
      <p>
        Beatrice&apos;s work experience is across multiple industries. In the oil and gas industry, she has over 10 years&apos; experience tackling complex logistics and supply chain problems for the ENI Group, Shell Chemicals in Houston Texas &amp; Shell Nigeria. She is the Co-founder of Aerix Group; a product and services organization catering to sub Saharan Africa’s oil and gas industry.
      </p>
      <p>
        Beatrice also has passion for beauty and hospitality industry. In 2012 she founded Apples and Oranges Total Body Therapy, a One-stop family salon and spa destination. The Eko spa at the Eko Hotel and Suites launched in 2015 is operated by Apples and Oranges and is the first venture in Beatrice’s plan for expansion to other luxury locations across Africa.
      </p>
      <p>
        Beatrice is a member of the American Society for Women Engineers, MIT Supply Chain Club, Council of Supply Chain Management Professionals (CSCMP) and Chartered Institute of Procurement and Supply (CIPS).
      </p>
      <p>
        The concept for Nectar Beauty Hub and Nectar Beauty Academy began in 2011 and was officially registered in 2015. Beatrice is confident that this establishment will positively change the Beauty Industry in Africa.
      </p>
      <p>
        Beatrice is developing strategies towards setting standards for the logistics &amp; beauty industry in West Africa. She is involved with several charity drives for the less privileged and currently employs over 100 personnel. Beatrice is very passionate about helping others achieve their goals.
      </p>
    </div>
  </div>

  <div class="row static">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h4>Executive Director &ndash; Obinna Eneh</h4>
      <p>
        Obinna Eneh serves as the Executive Director of Nectar Beauty Hub and helps chart the overall strategic direction of the company.
      </p>
      <p>
        Obinna is also the Chief Executive of Aerix group – An indigenous service company in the Oil and Gas sector. Before founding Aerix, Obinna was a staff software engineer at IBM&apos;s Data Storage Group in Tucson Arizona. While at IBM, Obinna helped provide storage hardware and software solutions to IBM clients worldwide.
      </p>
      <p>
        Prior to IBM, Obinna served as a field engineer for a Nigerian startup telecommunications company where he delivered customized microwave telecommunication services to customers in the oil services industry.
      </p>
      <p>
        Obinna holds a bachelors degree in Electronic Engineering from the University of Nigeria, a master’s degree in Applied Computer Science from Illinois State University and an MBA from the MIT Sloan School of Management.
      </p>
    </div>
  </div>

  <div class="row static">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h4>Chief Financial &amp; Operations Officer &ndash; Chika Okorafor Aneke</h4>
      <h5><strong>Education</strong></h5>
      <ul>
        <li>B.Sc (Hons) Applied Physiology (second class upper)</li>
        <li>Post Graduate Certificate of Education (PGCE Secondary Science)</li>
        <li>National Professional Qualification for Head teachers (NPQH) Leadership Training</li>
      </ul>
      <h5><strong>Experience</strong></h5>
      <ul>
        <li>Chief Financial and Operations Officer @ Nectar Beauty Hub</li>
        <li>Chief Operations Officer (COO) Apples and Oranges Total Body Therapy.</li>
        <li>4 years School leadership experience in Nigeria.</li>
        <li>5 years Diplomatic leadership ( Education Technical Expert) experience with the United Nations Development Programme  (UNDP)/ AMSCO/ World Bank/ ATMS and Stichling Foundation in Nigeria.</li>
        <li>10 Years teaching experience, middle management and school leadership in UK.</li>
        <li>4 Years Beauty and Health Club work and Management experience in UK.</li>
      </ul>
    </div>
  </div>

  <div class="row static">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h4>Finance & Marketing Manager &ndash; Chandra Effendi</h4>
      <ul>
        <li>2014 till date &ndash; Finance &amp; Marketing Manager @ Nectar Beauty Hub</li>
        <li>PT Nusantara Surya Sakti Honda Motor &amp; post as Accountant &amp; Warehouse Manager</li>
        <li>Integrated Ventures &ndash; post as Accountant and Manager  Media Pro Global &amp; Services Ltd &ndash; post as Accountant</li>
        <li>HNM Marketing Ltd &ndash; post as General Manager Lagos, Nigeria</li>
      </ul>
    </div>
  </div>

  <div class="row static">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h4>Operations &amp; Sales Director &ndash; Sarah E. Eddo</h4>
      <p>
        Having set up and led various departments including Customer Services, Warehousing &amp; Logistics, Planning and Purchasing, Sarah Eddo brings a wealth of Operations Management experience to Nectar Beauty Hub.
      </p>
      <p>
        Sarah spent 2014&ndash;2015 fully engaged in the fashion and beauty industry&apos;s the project manager for the UK Plus Size Fashion Week and is the co-founder of the African Plus Size Fashion Week.
      </p>
      <p>
        As a qualified Prince2 project manager Sarah has effectively delivered a number of projects over the past 10 years including software installations and upgrades for a medium sized company, training programs and document control implementation.
      </p>
      <p>
        She has managed a range of departments within the UK NHS, hospitality, retail and pharmaceutical industries.
      </p>
      <p>
        Sarah studied applied social sciences at Staffordshire University in the UK and continued professional development in areas such as internal auditing and quality control.
      </p>
      <p>
        Sarah is passionate about delivering first class customer service to Nectar Beauty Hub clients and stakeholders.
      </p>
    </div>
  </div>
</div>
{% endblock %}
