{% load i18n %}{% autoescape off %}
{% blocktrans %}<p>Someone has just filled out the contact form at NectarBeautyHub.com!</p>{% endblocktrans %}

{% trans "<p>Here are the details:</p>" %}

{% trans "<p><strong>Full Name</strong></p>" %}
<p>{{ full_name }}</p>

{% trans "<p><strong>Email</strong></p>" %}
<p>{{ email }}</p>

{% trans "<p><strong>Phone Number</strong></p>" %}
<p>{{ phone_number }}</p>

{% trans "<p><strong>Country</strong></p>" %}
<p>{{ country }}</p>

{% trans "<p><strong>Subject</strong></p>" %}
<p>{{ subject }}</p>

{% trans "<p><strong>Message</strong></p>" %}
<p>{{ message }}</p>

{% endautoescape %}
