{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contact Us{% endblock %}

{% block secondary_content %}
<div id="contact" class="getintouch">
  <div class="container">
    <div class="section-head text-center">
      <h3><span class="frist"> </span>Contact Us<span class="second"> </span></h3>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6853818484956!2d3.4787933496281203!3d6.434442825956249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5ca131a848b%3A0xb3f4a67b77f70cef!2sAdmiralty+Way%2C+Lekki%2C+Nigeria!5e0!3m2!1sen!2sgh!4v1447101391093" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-3 contact-details">
        <h4><strong>Address</strong></h4>
        <p>No. 5 Layi Yusuf Crescent, <br>Off Admiralty Way, <br>Lekki Phase 1, <br>Lagos, Nigeria.</p>
        <h4><strong>Phone</strong></h4>
        <p>
          +234 (0) 700 NECTAR HUB<br>
          +234 (0) 802 424 2656
        </p>
        <h4><strong>Email</strong></h4>
        <p>
          <a href="mailto:info@nectarbeautyhub.com">info@nectarbeautyhub.com</a><br>
          <a href="mailto:sales@nectarbeautyhub.com">sales@nectarbeautyhub.com</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if feedback %}
          <p class="feedback">
            {{ feedback }}
          </p>
        {% else %}
          <div class="nectar-form">
            <h3>Get In Touch</h3>
            <form action="" method="post">

              {% csrf_token %}

              {{ form.non_field_errors }}

              {{ form.full_name.errors }}
              {{ form.full_name }}

              {{ form.email.errors }}
              {{ form.email }}

              {{ form.phone_number.errors }}
              {{ form.phone_number }}

              {{ form.country.errors }}
              {{ form.country }}

              {{ form.subject.errors }}
              {{ form.subject }}

              {{ form.message.errors }}
              {{ form.message }}

              <input type="submit" value="Send message">
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
