{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Brands{% endblock %}

{% block secondary_content %}
<div class="container features">
  <div class="section-head text-center">
    <h3><span class="frist"></span>Brands<span class="second"></span></h3>
  </div>

  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/alpeda.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/nilo.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/cala.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/alter_ego.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/american-crew.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/andis.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/ardell.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/argila.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/artecno.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/babylisspro.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/btoxx.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/cellutec.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/elchim.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/enercos.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/footspa.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/gena.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/ghd.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/homebeauty.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/keratin-complex.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/cover-your-gray.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/dare-to-wear.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/dr-bs.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/ensyline.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/gelee.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/hsa.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/lapalm.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/lechat.jpg' %}" alt=""></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/maletti.jpg' %}" alt="brand name"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/marianna.jpg' %}" alt="brand name"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/moda.jpg' %}" alt="brand name"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/nail-architecture.jpg' %}" alt="brand name"></a></div>
  <div class="col-md-2 brand"><a href=""><img src="{% static 'images/nubian-heritage.jpg' %}" alt="brand name"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/olivia-garden.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/organic-keragen.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/oyster.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/pro-nail.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/prosheen.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/pure-organics.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/shea-moisture.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/sparedi.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/sterex.jpg' %}"></a></div>
  <div class="col-md-2 brand"><a href="" title="brand name"><img src="{% static 'images/the-carlton.jpg' %}"></a></div>

</div>
{% endblock %}
