{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Brands{% endblock %}

{% block secondary_content %}
<div class="container features">
  <div class="section-head text-center">
    <h3><span class="frist"></span>Brands<span class="second"></span></h3>
  </div>

  <div class="row">
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/alpeda.jpg' %}" title="Alpeda"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/nilo.jpg' %}" title="Nilo"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/cala.jpg' %}" title="Cala"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/alter_ego.jpg' %}" title="Alter Ego"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/american-crew.jpg' %}" title="American Crew"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/andis.jpg' %}" title="Andis"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/ardell.jpg' %}" title="Ardell"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/argila.jpg' %}" title="Argila"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/artecno.jpg' %}" title="Artecno"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/babylisspro.jpg' %}" title="Babyliss Pro"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/btoxx.jpg' %}" title="Btoxx"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/cellutec.jpg' %}" title="Cellutec"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/elchim.jpg' %}" title="Elchim"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/enercos.jpg' %}" title="Enercos"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/footspa.jpg' %}" title="Footspa"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/gena.jpg' %}" title="Gena"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/ghd.jpg' %}" title="GHD"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/homebeauty.jpg' %}" title="Home Beauty"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/keratin-complex.jpg' %}" title="Keratin Complex"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/cover-your-gray.jpg' %}" title="Cover Your Gray"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/dare-to-wear.jpg' %}" title="Dare To Wear"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/dr-bs.jpg' %}" title="Dr. B's"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/ensyline.jpg' %}" title="Ensyline"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/gelee.jpg' %}" title="Gelee"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/hsa.jpg' %}" title="HSA"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/lapalm.jpg' %}" title="La Palm"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/lechat.jpg' %}" alt="" title="Le Chat"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/maletti.jpg' %}" title="Maletti"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/marianna.jpg' %}" title="Marianna"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/moda.jpg' %}" title="Moda"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/nail-architecture.jpg' %}" title="Nail Architecture"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/nubian-heritage.jpg' %}" title="Nubian Heritage"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/olivia-garden.jpg' %}" title="Olivia Garden"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/organic-keragen.jpg' %}" title="Organic Keragen"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/oyster.jpg' %}" title="Oyster"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/pro-nail.jpg' %}" title="ProNail"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/prosheen.jpg' %}" title="ProSheen"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/pure-organics.jpg' %}" title="Pure Organics"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/shea-moisture.jpg' %}" title="Shea Moisture"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/sparedi.jpg' %}" title="Sparedi"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/sterex.jpg' %}" title="Sterex"></a></div>
    <div class="col-md-2 brand"><a href="#"><img src="{% static 'images/brands/the-carlton.jpg' %}" title="The Carlton"></a></div>
  </div>

</div>
{% endblock %}
