<!DOCTYPE HTML>
<html>
  <head>
    <title>Nectar Beauty Hub</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>

    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700' rel='stylesheet' type='text/css'>

    <!----start-top-nav-script---->
    <script>
      $(function() {
        var pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();

        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });

        $(window).resize(function() {
          var w = $(window).width();
          if(w > 320 && menu.is(':hidden')) {
            menu.removeAttr('style');
          }
        });
      });
    </script>
    <!----//End-top-nav-script---->
  </head>

  <body>
    <div class="header-section">
      <div id="home" class="header">
        <div class="container">
          <div class="top-header">
            <div class="logo">
              <a href="#"><img src="{% static 'images/logo.png' %}" title="logo" /></a>
            </div>
            <!----start-top-nav---->
            <nav class="top-nav">
              <ul class="top-nav">
                <li class="active"><a href="#home" class="scroll">Home </a></li>
                <li class="page-scroll"><a href="#fea" class="scroll">FEATURES</a></li>
                <li class="page-scroll"><a href="#gallery" class="scroll">Gallery</a></li>
                <li class="page-scroll"><a href="#about" class="scroll">About </a></li>
                <li class="contatct-active" class="page-scroll"><a href="#contact" class="scroll">Contact</a></li>
              </ul>
              <a href="#" id="pull"><img src="{% static 'images/nav-icon.png' %}" title="menu" /></a>
            </nav>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>

      <!----- start-slider---->
      <!----start-slider-script---->
      <script src="{% static 'js/responsiveslides.min.js' %}"></script>
      <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          // Slideshow 4
          $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
              $('.events').append("<li>after event fired.</li>");
            }
          });
    
        });
      </script>
      <!----//End-slider-script---->

      <!-- Slideshow 4 -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
          <li>
            <img src="{% static 'images/argila.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'images/paulmitchell.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'images/indola.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'images/revlon.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'images/olaplex2.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'images/bwentrance.jpg' %}" alt="">
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>

    <div>
      <div class="container features">
        <div class="section-head text-center">
          <h3><span class="frist"> </span>NEW PRODUCTS<span class="second"> </span></h3>
        </div>

        {% for product in new_products %}
          <div class="col-md-3">
            <div class="features-grid-info">
              <div class="team-member-info">
                <img class="product-pic" src="{{ product.image.url }}" title="{{ product.name }}">
                <div class="product-detail">
                  <h4><a href="#">{{ product.name }}</a></h4>
                  <ul>
                    <li>
                      <h5><a href="#">{{ product.subcategory.brand }}</a></h5>
                      <h6>CODE: {{ product.code }}</h6>
                    </li>
                    <li class="add-to-cart"><a href="#"><i class="fa fa-cart-plus fa-3x"></i></a></li>
                    <div class="clearfix"> </div>
                  </ul>
                </div>
                <label class="team-member-caption text-center">
                  <p><a href="#"><i class="fa fa-search-plus fa-4x" title="View Product"></i></a></p>
                </label>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="clearfix"> </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="footer-grids">
          <div class="col-md-3 footer-grid about-info">
            <p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="col-md-3 footer-grid subscribe">
            <h3>Subscribe</h3>
            <form>
              <input type="text" placeholder="" required />
              <input type="submit" value="" />
            </form>
            <p>eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>

          <div class="col-md-3 footer-grid explore">
            <h3>Explore</h3>
            <ul class="col-md-6">
              <li><a href="#">Envato</a></li>
              <li><a href="#">Themecurve</a></li>
              <li><a href="#">Kreativeshowcase</a></li>
              <li><a href="#">Freebiescurve</a></li>
            </ul>
            <ul class="col-md-6">
              <li><a href="#">Themeforest</a></li>
              <li><a href="#">Microsoft</a></li>
              <li><a href="#">Google</a></li>
              <li><a href="#">Yahoo</a></li>
            </ul>
            <div class="clearfix"> </div>
          </div>

          <div class="col-md-3 footer-grid copy-right">
            <p>Eusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua. </p>
            <p class="copy">Template by <a href="http://w3layouts.com/">w3layouts</a></p>
          </div>
          <div class="clearfix"> </div>

          <script type="text/javascript">
                  $(document).ready(function() {
                          /*
                          var defaults = {
                                  containerID: 'toTop', // fading element id
                                  containerHoverID: 'toTopHover', // fading element hover id
                                  scrollSpeed: 1200,
                                  easingType: 'linear' 
                          };
                          */
                          
                          $().UItoTop({ easingType: 'easeOutQuart' });
                          
                  });
          </script>
          <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
      </div>
    </div>
  </body>
</html>

