{% extends 'base.html' %}

{% load staticfiles %}

{% block primary_content %}
<!----- start-slider---->
<!----start-slider-script---->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
  // You can also use "$(window).load(function() {"
  $(function () {
    // Slideshow 4
    $("#slider4").responsiveSlides({
      auto: true,
      pager: true,
      nav: true,
      speed: 500,
      namespace: "callbacks",
      before: function () {
        $('.events').append("<li>before event fired.</li>");
      },
      after: function () {
        $('.events').append("<li>after event fired.</li>");
      }
    });

  });
</script>
<!----//End-slider-script---->

<!-- Slideshow 4 -->
<div  id="top" class="callbacks_container">
  <ul class="rslides" id="slider4">
    <li>
      <img src="{% static 'images/argila.jpg' %}" alt="">
    </li>
    <li>
      <img src="{% static 'images/paulmitchell.jpg' %}" alt="">
    </li>
    <li>
      <img src="{% static 'images/indola.jpg' %}" alt="">
    </li>
    <li>
      <img src="{% static 'images/revlon.jpg' %}" alt="">
    </li>
    <li>
      <img src="{% static 'images/olaplex2.jpg' %}" alt="">
    </li>
    <li>
      <img src="{% static 'images/bwentrance.jpg' %}" alt="">
    </li>
  </ul>
</div>
{% endblock %}

{% block secondary_content %}
<div>
  <div class="container features">
    <div class="section-head text-center">
      <h3><span class="frist"></span>New Products<span class="second"> </span></h3>
    </div>

    {% for product in new_products %}
      <div class="col-md-3">
        <div class="features-grid-info">
          {% include "products/product_item.html" %}
        </div>
      </div>
    {% endfor %}
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
