{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block primary_content %}
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
  $(function () {
    $(".rslides").responsiveSlides({});
  });
</script>

<div class="container">
  <div class="row slides">
    <ul class="rslides">
      <li>
        <img src="{% static 'images/slide1.jpg' %}" alt="">
      </li>
      <li>
        <img src="{% static 'images/slide2.jpg' %}" alt="">
      </li>
      <li>
        <img src="{% static 'images/slide3.jpg' %}" alt="">
      </li>
      <li>
        <img src="{% static 'images/slide4.jpg' %}" alt="">
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block secondary_content %}
<div>
  <div class="container features">
    <div class="section-head text-center">
      <h3><span class="frist"></span>New Products<span class="second"></span></h3>
    </div>

    {% for product in new_products %}
      <div class="col-md-3">
        <div class="features-grid-info">
          {% include "products/product_item.html" %}
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
