{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Products &mdash; {{ product.name }} {% endblock %}

{% block primary_content %}
<div id="top">
  <div class="container">
    <div class="product">
      <div class="col-md-4">
        <img src="{{ product.image.url }}">
      </div>
      <div class="col-md-8 detail-container">
        <div class="detail">
          <h3>{{ product.name }}<a href="{% url 'cart:item-add' product.id %}"><i class="fa fa-cart-plus" title="Add To Cart"></i></a></h3>
          <ul>
            <li><strong>Brand Name</strong> &ndash; {{ product.subcategory.brand.name }}</li>
            <li><strong>Category</strong> &ndash; {{ product.subcategory.category.name }}</li>
            <li><strong>Code</strong> &ndash; {% if not product.code %}Not Available{% else %}{{ product.code }}{% endif %}</li>
          </ul>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block secondary_content %}
<div>
  <div class="container features">
    <div class="section-head text-center">
      <h3><span class="frist"> </span>Related Products<span class="second"> </span></h3>
    </div>

    {% for product in related_products %}
      <div class="col-sm-3">
        {% include "products/product_item.html" %}
      </div>
    {% endfor %}
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
